@using WebApplication1.DataAccess.Models;
@model List<MainMenu>
@{
    string showHeader = "";
}

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse shadow">
    <div class="position-sticky pt-3">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            @foreach (MainMenu item in Model)
            {
                string headingId = $"flush-heading{item.Id}";
                string collapseId = $"flush-collapse{item.Id}";

                <div class="accordion-item">

                    @if (Context.Request.Path.ToString().Contains(item.Name))
                    {
                        <h2 class="accordion-header shadow-sm" id="@headingId">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#@collapseId" aria-expanded="true" aria-controls="@collapseId">
                                @item.Name
                            </button>
                        </h2>
                        <div id="@collapseId" class="accordion-collapse collapse show" aria-labelledby="@headingId">
                            <ul class="nav flex-column">
                                @if (item.Children.Count > 0)
                                {
                                    foreach (Menu child in item.Children)
                                    {
                                        <li class="nav-item">
                                            @if (Context.Request.Path.Equals(Url.Action(child.Action, child.Controller, new { area = child.Area })))
                                            {
                                                @Html.ActionLink(child.Name, child.Action, child.Controller, new { area = child.Area }, new { @class = "nav-link active" });
                                            }
                                            else
                                            {
                                                @Html.ActionLink(child.Name, child.Action, child.Controller, new { area = child.Area }, new { @class = "nav-link" });
                                            }
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <h2 class="accordion-header shadow-sm" id="@headingId">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                                @item.Name
                            </button>
                        </h2>
                        <div id="@collapseId" class="accordion-collapse collapse" aria-labelledby="@headingId">
                            <ul class="nav flex-column">
                                @if (item.Children.Count > 0)
                                {
                                    foreach (Menu child in item.Children)
                                    {
                                        <li class="nav-item">
                                            @Html.ActionLink(child.Name, child.Action, child.Controller, new { area = child.Area }, new { @class = "nav-link" })
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    }

                </div>
            }
        </div>
    </div>
</nav>

